section.canhcam-slider-1
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/slider/slider-1.png", bg-img-responsive-sm="./img/slider/slider-1-sm.png", bg-img-responsive-xs="./img/slider/slider-1-xs.png")
			.background-title
			.title
				h1 Chúng tôi đào tạo mọi người một cách đúng nhất
				p.slogan Never Give Up
				p.author Author
