section.courses
	.container
		.row
			.col.bg-trang
			.col-md-4.bg-xanh.logo-course
				img.img-fluid(src="../img/logo-trang.png", alt="")
		.row
			.col.bg-trang
				.course
					h2 Lớp TOEIC
					h3 Lớp 350+: Dành cho học viên bị mất gốc và có mục tiêu từ 350 trở lên
					.courses-details
						p Thời lượng: 3 tháng - Tuần 3 buổi, 1h45'/buổi
							br 
							|Nội dung:
						ul
							li Tổng quan các phần trong đề thi TOEIC
							li Ngữ pháp cơ bản đến nâng cao(loại từ, cấu trúc câu, thì, các loại mệnh đề,...)
							li Từ vựng, những cụm từ thường ra trong đề thi TOEIC
							li Mẹo làm bài, cách tránh bẫy trong đề thi Toeic
							li Luyện nghe từng phần từ cơ bản đến nâng cao
						p Học phí: 2.400.000 đồng / khóa
					
			.col-md-4.bg-xanh
				.course
					h2 LỚP GIAO TIẾP CƠ BẢN
					h3 LỚP FULL ADDER: Dành cho học viên chưa có căn bản, nghe nói chưa tự tin – học xen kẽ GV Việt – Bản Xứ)
					.courses-details.mt-3
						p Thời lượng: 6 tháng - Tuần học 3 buổi, 1h30’/ buổi
							br 
							|Học phí: 5.700.000 Đ
							br
							|Chương trình học xen kẽ GV Việt – Bản Xứ. Mỗi tuần là một chủ đề khác nhau, không sợ nhàm chán. Không cần sách vở. Chỉ tập trung nghe nói, thông qua các hoạt động vui chơi, giải trí.
		.row
			.col.bg-trang
				h3 LỚP 450+: Dành cho học viên bị mất gốc và có mục tiêu Toiec đạt 450 trở lên.
				.courses-details
					p Thời lượng: 4,5 tháng – Tuần 3 buổi, 1h45’ / buổi
						br 
						|Nội dung:
					ul
						li Tổng quan các phần trong đề thi Toeic
						li Ngữ pháp nâng cao (loại từ, cấu trúc câu, thì, các loại mệnh đề…)
						li Luyện kỹ năng giải các bài tập đọc hiểu nâng cao
						li Từ vựng chuyên ngành trong đề thi Toeic
						li Luyện nghe thành thạo các phần
						li Mẹo làm bài nhanh, cách tránh bẫy trong đề thi Toeic
					p Học phí: 3.500.000 đồng / khóa
			.col-md-4.bg-xanh
					h3 LỚP ELITE: Dành cho học viên đã có căn bản – học 100% với giáo viên Nước Ngoài
					.courses-details.mt-3
						p Thời lượng: 2,5 tháng - Tuần học 3 buổi, 1h30’/buổi
							br 
							|Học phí: 4.200.000 đồng / khóa
