extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../lib/header/h-7/index.pug
block body
		include ../lib/slider/s-1/index.pug 
		include ../lib/courses/index.pug 
		include ../lib/form/f-2/index.pug
block footer
	include ../lib/footer/f-4/index.pug
